---
interface Props {
  title: string;
  src: string;
  alt: string;
  hrefgit: string;
  hrefdep: string;
  arialabel: string;
}

const { title, src, alt, hrefgit, hrefdep, arialabel } = Astro.props;
---

<article id="cards" class="w-full h-[200px] flex flex-col justify-center items-center bg-cards border-2 border-[#696969] shadow-cards rounded-[10px]">
  <h3 class="text-[#000000] text-[14px] mb-[5px] text-center">{title}</h3>
  <div id="img-card" class="flex justify-center">
    <img class="w-[90%] rounded-lg" src={src} alt={alt} />
  </div>
  <div id="card-body" class="flex flex-col items-center mt-2">
    <div id="links" class="flex [&>a]:flex [&>a]:items-center [&>a]:px-[2px] [&>a]:py-0 [&>a]:bg-[#00D1FF] [&>a]:border-2 [&>a]:border-[#00D1FF] [&>a]:rounded-md [&>a]:text-[#121212] [&>a]:cursor-pointer [&>a]:no-underline 
      [&>a]:mx-[2px] [&>a]:my-0 [&>a]:text-[11px] [&>a>svg]:w-4 hover:[&>a]:bg-[#B1F1FF] hover:[&>a]border-2 hover:[&>a]border-[#B1F1FF]">
      <a
        href=`https://github.com/MayDenot/${hrefgit}.github.io`
        target="_blank"
        aria-label=`Ir a el repositorio de ${arialabel}`
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-github"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
          ></path>
        </svg>
        Github
      </a>
      <a
        href=`https://${hrefdep}.vercel.app/`
        target="_blank"
        aria-label=`Ir a la Web de ${arialabel}`
      >
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M9 15l6 -6"></path>
        <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464"></path>
        <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463"></path>
      </svg>
        Web
      </a>
    </div>
    <button id="btn-description" class="text-[12px] text-[#fff] p-[2px] bg-transparent border-0 cursor-pointer hover:no-underline">Descripción</button>
  </div>
</article>